<h2 *ngIf="boardDetails.name">{{ boardDetails.name }}</h2>
<div class="outer-list">
  <div class="board-details-right">
    <div *ngFor="let list of lists">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ list.name }}</mat-card-title>
          <button (click)="deleteList(list.id)">Delete</button>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <input [(ngModel)]="listName" />
    <button (click)="addList()">Add a List</button>
  </div>
</div>


