
.sample{
    width: 80%;
}

.board-details-right{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.example-card{
    width: 15rem;
    border: 1px solid black;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.outer-list{
    display: flex;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
}