<app-navbar></app-navbar>
<div class="main-page">
  <div class="left-board"></div>

  <div class="right-board">
    <h1>Trello Workspace</h1>
    <div class="your-board">
      <h2>Your boards</h2>
      <div class="all-boards">
        <div *ngFor="let board of boards">
          <mat-card class="board" routerLink="/{{board.id}}">
            <mat-card-content>
              {{ board.name }}
            </mat-card-content>
          </mat-card>
        </div>

        <mat-card class="board" (click)="open(content)">
          <mat-card-content> Create new board </mat-card-content>
        </mat-card>
      </div>
      <input [(ngModel)]="boardName" />
      <button (click)="addBoard()">Submit</button>
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


