
.main-page{
    display: flex;
}

.left-board{
    width: 40rem;
}

.right-board{
    width: 40rem;
}

.all-boards{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45rem;
}

.board{
    width: 10rem;
    height: 6rem;
    border: 1px solid black;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}